/* КОЛЬЦА */
@keyframes rotate-r {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

@keyframes rotate-l {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0deg);
    }
  }

@keyframes pulse {
  0%,100%{
      scale: 100%;
  }
  50%{
      scale: 105%;
  }
}

@keyframes knight-01_step {
  0% {
  background-image: url("../img/knight-02.png");
}
10% {
  background-image: url("../img/knight-03.png");
}
15% {
  background-image: url("../img/knight-04.png");
}
30% {
  background-image: url("../img/knight-05.png");
}
33% {
  background-image: url("../img/knight-06.png");
}
36% {
  background-image: url("../img/knight-07.png");
}
45% {
  background-image: url("../img/knight-02.png");
}
100% {
  background-image: url("../img/knight-02.png");
}
}



/* @keyframes blink_text {
    0%, 100% {
      color: #FF70AB; 
    }
    50% {
      color: white; 
    }
  } */

  
  @keyframes blink_text {
    0%, 100% {
      color: black;
    }
    23%{
      color: white;
    }
    50% {
      color: #FF70AB;
    }
  }

  @keyframes blink_text_2 {
    0%, 100% {
      color: rgb(255, 255, 255);
    }
    23%{
      color: white;
    }
    50% {
      color: #FF70AB;
    }
  }

  @keyframes blink_text_1 {
    0%, 47%, 53%, 100% {
      color: rgb(255, 255, 255);
    }
    50% {
      color: #FF70AB;
    }
  }

@keyframes rotate_star {
    0% {
      transform: rotate(0deg); 
    }
    95% {
      transform: rotate(360deg); 
    }
    100% {
      transform: rotate(360deg); 
    }
}


@keyframes wave {
    0%, 100% {
      transform: scaleY(-1.5);
    }
    50% {
      transform: scaleY(0);
    }
}




@keyframes scale-armor {
    0% {
      transform: scaleY(1); 
    }
    10% {
      transform: scaleY(1); 
    }
    23% {
      transform: scaleY(1); 
    }
    31% {
      transform: scaleY(0.45); 
    }
    90% {
      transform: scaleY(0.45); 
    }
    95% {
      transform: scaleY(1); 
    }
    100% {
      transform: scaleY(1); 
    }
}


@keyframes move-amour {
    0% {
      left: -122vw; 
    }
    17% {
      left: -122vw;
    }
    23% {
      left: 4vw; 
    }
    60% {
      left: 4vw;
    }
    80% {
      left: 4vw;
    }
    98% {
      left: -122vw; 
    }
}



@keyframes splash {
  0% {
    background-image: url("../img/splash_5.png");
  }
  24.5% {
    background-image: url("../img/splash_5.png");
  }
  25% {
    background-image: url("../img/splash_6.png");
  }
  49% {
    background-image: url("../img/splash_6.png");
  }
  50% {
    background-image: url("../img/splash_7.png");
  }
  74% {
    background-image: url("../img/splash_7.png");
  }
  75% {
    background-image: url("../img/splash_8.png");
  }
  76% {
    background-image: url("../img/empty.png");
  }
  98% {
    background-image: url("../img/empty.png");
  }
  100% {
    background-image: url("../img/splash_5.png");
  }
  }

@keyframes splash_r {
  0% {
    background-image: url("../img/splash_1.png");
  }
  24.5% {
    background-image: url("../img/splash_1.png");
  }
  25% {
    background-image: url("../img/splash_2.png");
  }
  49% {
    background-image: url("../img/splash_2.png");
  }
  50% {
    background-image: url("../img/splash_3.png");
  }
  74% {
    background-image: url("../img/splash_3.png");
  }
  75% {
    background-image: url("../img/splash_4.png");
  }
  76% {
    background-image: url("../img/empty.png");
  }
  98% {
    background-image: url("../img/empty.png");
  }
  100% {
    background-image: url("../img/splash_1.png");
  }
  }


  @keyframes float {
    0%, 100% {
      transform: translateY(-1.5vw);
      transform: translateX(2.5vw);
    }
    50% {
      transform: translateX(-8.5vw);
      transform: translatey(-3.5vw);
    }
  }

  @keyframes color-change{
    0%, 100% {
        fill: white;
    }
    50% {
        fill: #FF70AB;
    }
  }
  