*{ box-sizing: border-box;}

html, body {width:100vw; overflow-x:hidden; min-height: 100%;}

body{
  height: 500vw;
  max-width: 100%;
  width: 100vw;
  display: block;
  background-color: rgb(0, 0, 0);
  background-image: url(/img/reffin.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
  
}

section {
  unicode-bidi: isolate;
}


.container {
  width: 100vw;
  display: flex;
  align-items: center;  
  flex-direction: column; 
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3vh;
} 

@font-face {
font-family: "DINAlternateBold";
src: url("../fonts/DINAlternateBold.ttf") format("truetype");
font-style: bold;
font-weight: bold;
}
@font-face {
  font-family: "BenzGacore-Regular";
  src: url("../fonts/BenzGacore-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
  }

@font-face {
  font-family: "snellroundhand_bold";
  src: url("../fonts/snellroundhand_bold.otf") format("truetype");
  font-style: bold;
  font-weight: bold;
  }

p{ 
  font-family: 'DINAlternateBold'; 
  font-size: 2vw; 
}

.first_block {
  position: relative;
  width: 92vw;
  height: 68vw;
  /* background-color: rgb(0, 0, 0); */
  overflow: hidden;
  margin-bottom: 2vw;
}
.ring_01{
  position: absolute;
  height: 12vw;
  top: 28vw;
  left: 30vw;
  animation: rotate-r 7s linear infinite;
  z-index: 2;
}

.ring_02{
  position: absolute;
  height: 26vw;
  top: 21.5vw;
  left: 22.5vw;
  animation: rotate-l 7s linear infinite;
  z-index: 2;
}

.ring_03{
  position: absolute;
  height: 46vw;
  top: 11.5vw;
  left: 13vw;
  animation: rotate-r 7s linear infinite;
  z-index: 2;
}

.ring_04{
  position: absolute;
  height: 67vw;
  top: 1vw;
  left: 2.5vw;
  animation: rotate-l 7s linear infinite;
  z-index: 2;
}

.ring_05{
  position: absolute;
  height: 90.5vw;
  top: -10.5vw;
  left: -9vw;
  animation: rotate-r 7s linear infinite;
  z-index: 2;
}

.ring_06{
  position: absolute;
  height: 118vw;
  top: -24vw;
  left: -23vw;
  animation: rotate-l 7s linear infinite;
  z-index: 2;
}

.knight-01{
  margin-top: 55vh;
  margin-left: -22vw;
  width: 40vw;
  height: 130vh;
  position: absolute;
  display: flex; 
  justify-content: center;
  align-items: center; 
  
}
.knight-01-steps{
  
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  animation: knight-01_step 1s infinite;
  animation-delay: 0.2s;
  background-repeat: no-repeat;
  background-size: contain;
}

.text-01 {
  color: white;
  position: absolute; 
  top: 4vw; 
  width: 100vw;
  height: 2vh;
  padding: 0 4vw; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  z-index: 9999;
}
.text-01 p:hover {
  animation: blink_text 0.6s step-start infinite; 
}

.text-02 {
  color: white;
  position: relative; 
  width: 100vw;
  height: 2vh;
  padding: 0 4vw; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  z-index: 9999;
  margin-bottom: 2vw;
}
.text-02 p:hover {
  animation: blink_text 0.3s step-start infinite; 
}



.text-04 {
  color: white;
  position:absolute; 
  top: 500vh; 
  width: 100vw;
  height: 2vh;
  padding: 0 4vw; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  z-index: 9999;
}

.star_and_strokes_block{
  z-index: 3;
  display: block;
  width: 20vw; 
  position: absolute; 
  top: 12vw;
  right: 0; 
  height: 60vw;
}

.white-star{
  background-color: black;
  border-radius: 50%;
  position: relative;
  left: 1vw;
  width: 20vw;
  height: 20vw;
  animation: rotate_star 1s infinite ease-in-out ;
  animation-delay: 0.1s;
  margin-bottom: 4vw;
}

.pink-strokes{
  margin-top: -5vw; 
  padding-top: 2vw;
  background-color: rgb(0, 0, 0);
  justify-content: end;
  align-items: flex-end;
  display: inline-block;
  display: flex;
  flex-direction: column; 
  gap:3vw; 
} 

.line {
  width: 90%; 
  height: 0.8vw; 
  background-color: #FF70AB;
  animation: wave 1s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.04s); 
  animation-direction: initial;
  transform-origin: center; 
}


.line:nth-child(1) { --i: 0; height: 1vh; }
.line:nth-child(2) { --i: 1; height: 1.1vh; }
.line:nth-child(3) { --i: 2; height: 1.2vh; }
.line:nth-child(4) { --i: 3; height: 1.3vh; }
.line:nth-child(5) { --i: 4; height: 1.4vh; }
.line:nth-child(6) { --i: 5; height: 1.5vh; }
.line:nth-child(7) { --i: 6; height: 1.6vh; }
.line:nth-child(8) { --i: 7; height: 1.7vh; }
.line:nth-child(9) { --i: 8; height: 1.8vh; }
.line:nth-child(10) { --i: 9; height: 1.9vh; }
.line:nth-child(11) { --i: 10; height: 2vh; }
.line:nth-child(12) { --i: 11; height: 2.1vh; }
.line:nth-child(13) { --i: 12; height: 2.2vh; }

.second-block {
  height: 55.5vw;
  overflow: hidden;
}

.armor {
  position: absolute;
  z-index: 2;
  width: 92vw;
  transform: scaleY(0.8);
  transform-origin: top;
  animation: scale-armor 4s infinite cubic-bezier(0.215, 0.610, 0.355, 1), fill-armor 5s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
}


.armor_svg path {
  animation: fill-armor 4s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
}

.armor_svg {
  width: 100%;
  height: auto;
  fill:#ffffff;
} 


.black-rectangle {
  background-color: rgb(0, 0, 0);
  opacity: 0%;
  left: -92vw;
  width: 100vw;
  height: 28vh;
  position: absolute;
  top: 17vh;
  z-index: 3; 
  animation: move-rectangle 4s infinite;
}

.amour { 
  margin-top: 8vw;
  scale: 101.5%;
  position: absolute; 
  z-index: 4; 
  width: 92vw; 
  left: -92vw;  
  animation: move-amour 4s infinite ease-in-out; 
}

.amour_svg path {
  animation: fill-armor 4s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
}

.amour_svg {
  width: 100%;
  height: auto;
  fill:#ffffff;
} 


.split {
  margin-top: 24vw;
  width: 92vw; 
  height: 30vw;
  animation: playFrames 4s steps(41) infinite; 
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes playFrames {
  0% { background-image: url('/img/1.png'); }
  21.95% { background-image: url('/img/10.png'); }
  24.39% { background-image: url('/img/11.png'); }
  36.59% { background-image: url('/img/16.png'); }
  39.02% { background-image: url('/img/17.png'); }
  41.46% { background-image: url('/img/18.png'); }
  43.9% { background-image: url('/img/19.png'); }
  46.34% { background-image: url('/img/20.png'); }
  48.78% { background-image: url('/img/21.png'); }
  51.22% { background-image: url('/img/22.png'); }
  53.66% { background-image: url('/img/23.png'); }
  56.1% { background-image: url('/img/24.png'); }
  58.54% { background-image: url('/img/25.png'); }
  60.98% { background-image: url('/img/26.png'); }
  63.41% { background-image: url('/img/27.png'); }
  65.85% { background-image: url('/img/28.png'); }
  68.29% { background-image: url('/img/29.png'); }
  70.73% { background-image: url('/img/30.png'); }
  73.17% { background-image: url('/img/31.png'); }
  75.61% { background-image: url('/img/32.png'); }
  78.05% { background-image: url('/img/33.png'); }
  80.49% { background-image: url('/img/34.png'); }
  82.93% { background-image: url('/img/35.png'); }
  85.37% { background-image: url('/img/36.png'); }
  87.8% { background-image: url('/img/37.png'); }
  90.24% { background-image: url('/img/38.png'); }
  92.68% { background-image: url('/img/39.png'); }
  95.12% { background-image: url('/img/40.png'); }
  97.56% { background-image: url('/img/41.png'); }
  100% { background-image: url('/img/1.png'); } 
}

.text-03 {
  color: white;
  width: 100vw;
  padding: 0 4vw; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  z-index: 9999;
}

.text-03 p:hover {
  animation: blink_text 0.1s step-start infinite; 
}


.third-block {
  height: 120vw;
  /* background-color: rgb(0, 0, 0); */
  overflow: hidden;
}
.star {
  top: 130vw;
  left: 10vw;
  position: absolute;
  height: 115vw;
  opacity: 0; 
  transform: scale(0); 
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
/* ???? */
.star-1 {
  opacity: 1; 
  transform: scale(1); 
}

@keyframes grow {
  0% {
      opacity: 0;
      transform: scale(0);
  }
  40% {
      opacity: 1;
      transform: scale(1);
  }
  60% {
      opacity: 1;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(0);
  }
}

.star-2 {
  animation: grow 15s infinite; 
}

.star-3 {
  animation: grow 15s infinite 7s; 
}


/* @keyframes play {
  0% {
    background-position: 0 0; 
  }
  100% {
    background-position: -3772vw 0; 
  }
} */



.bottom_rings_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 85vh;
  width: 130vw;
  height: 150vh;
  background-color: rgba(207, 207, 207, 0.5);
  z-index: -3;
  overflow: hidden;
}

.bottom_rings {
  scale: 240%;
  position: relative;
  top: -80vh;
  left: 16vw;
  width: 70vw;
  height: 70vw;

}
.b-ring-r {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: rotate-r 15s linear infinite, pulse 10s ease-in-out infinite;
}


  .b-ring-l {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    animation: rotate-l 15s linear infinite, pulse 10s ease-in-out infinite;
  }

.knight-back{
  top: 141vw;
  left: 42vw;
  z-index: 98;
  position: absolute;
  width: 50vw;  
  height: auto;
}

.feel{
  position: absolute;
  top: 171vw;
  z-index: 999;
  left: 4vw;
  width: 93vw;
}
.kakovo{
  z-index: 99;
  position: absolute;
  top: 195vw;
  left: 27vw;
  width: 67vw;
}

.eto{
  z-index: 999;
  position: absolute;
  top: 207.5vw;
  left: 6vw;
  width: 91vw;
}

/* @keyframes sprite-animation {
  0% {
    background-image: url("../img/1.svg"); 
  }
  3.45% {
    background-image: url("../img/2.svg"); 
  }
  6.90% {
    background-image: url("../img/3.svg"); 
  }
  10.34% {
    background-image: url("../img/4.svg"); 
  }
  13.79% {
    background-image: url("../img/5.svg");
  }
  17.24% {
    background-image: url("../img/6.svg");
  }
  20.69% {
    background-image: url("../img/7.svg");
  }
  24.14% {
    background-image: url("../img/8.svg");
  }
  27.59% {
    background-image: url("../img/9.svg");
  }
  31.03% {
    background-image: url("../img/10.svg");
  }
  34.48% {
    background-image: url("../img/11.svg");
  }
  37.93% {
    background-image: url("../img/12.svg");
  }
  41.38% {
    background-image: url("../img/13.svg");
  }
  44.83% {
    background-image: url("../img/14.svg");
  }
  48.28% {
    background-image: url("../img/15.svg");
  }
  51.72% {
    background-image: url("../img/16.svg");
  }
  55.17% {
    background-image: url("../img/17.svg");
  }
  58.62% {
    background-image: url("../img/18.svg");
  }
  62.07% {
    background-image: url("../img/19.svg");
  }
  65.52% {
    background-image: url("../img/20.svg");
  }
  68.97% {
    background-image: url("../img/21.svg");
  }
  72.41% {
    background-image: url("../img/22.svg");
  }
  75.86% {
    background-image: url("../img/23.svg");
  }
  79.31% {
    background-image: url("../img/24.svg");
  }
  82.76% {
    background-image: url("../img/25.svg");
  }
  86.21% {
    background-image: url("../img/26.svg");
  }
  89.66% {
    background-image: url("../img/27.svg");
  }
  93.10% {
    background-image: url("../img/28.svg");
  }
  96.55% {
    background-image: url("../img/29.svg"); 
  }
  100% {
    background-image: url("../img/1.svg"); 
  }
} */

.background_knight {
  top: 23vh;
  position: relative;
  width: 92vw; 
  height: 57vh; 
  background-size: contain;
  background-repeat: no-repeat;
  animation: sprite-animation 4s infinite; 
}

