*{ box-sizing: border-box;}

html, body {width:100vw; overflow-x:hidden; min-height: 100%;}

body{
  height: 1500vw;
  max-width: 100%;
  width: 100vw;
  display: block;
  background-color: rgb(0, 0, 0);
  /* background-image: url(/img/mobilka.png); */
  /* background-image: url("../img/reffin.png"); */
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
}


section {
  unicode-bidi: isolate;
}


.container {
  width: 100vw;
  display: flex;
  align-items: center;  
  flex-direction: column; 
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3vh;
} 

@font-face {
font-family: "DINAlternateBold";
src: url("../fonts/DINAlternateBold.ttf") format("truetype");
font-style: bold;
font-weight: bold;
}
@font-face {
  font-family: "BenzGacore-Regular";
  src: url("../fonts/BenzGacore-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
  }

@font-face {
  font-family: "snellroundhand_bold";
  src: url("../fonts/snellroundhand_bold.otf") format("truetype");
  font-style: bold;
  font-weight: bold;
  }

p{ 
  font-family: 'DINAlternateBold'; 
  font-size: 2vw; 
}

.first_block {
  position: relative;
  width: 92vw;
  height: 68vw;
  /* background-color: rgb(0, 0, 0); */
  overflow: hidden;
  margin-bottom: 2vw;
}
.ring_01{
  display: none;
  position: absolute;
  height: 12vw;
  top: 28vw;
  left: 30vw;
  animation: rotate-r 7s linear infinite;
  z-index: 2;
}

.ring_02{
  position: absolute;
  height: 26vw;
  top: 21.5vw;
  left: 22.5vw;
  animation: rotate-l 7s linear infinite;
  z-index: 2;
}

.ring_03{
  position: absolute;
  height: 46vw;
  top: 11.5vw;
  left: 13vw;
  animation: rotate-r 7s linear infinite;
  z-index: 2;
}

.ring_04{
  position: absolute;
  height: 67vw;
  top: 1vw;
  left: 2.5vw;
  animation: rotate-l 7s linear infinite;
  z-index: 2;
}

.ring_05{
  position: absolute;
  height: 90.5vw;
  top: -10.5vw;
  left: -9vw;
  animation: rotate-r 7s linear infinite;
  z-index: 2;
}

.ring_06{
  position: absolute;
  height: 118vw;
  top: -24vw;
  left: -23vw;
  animation: rotate-l 7s linear infinite;
  z-index: 2;
}

.knight-01{
  z-index: 5;
  margin-top: 13vw;
  left: 15vw;
  height: 58vw;
  width: 70vw;
  position: absolute;
}
.knight-01-steps{
  height: 100%;
  width: 100%;
  animation: knight-01_step 1s infinite;
  animation-delay: 0.2s;
  background-repeat: no-repeat;
  background-size: contain;
}

.text-01 {
  color: white;
  position: absolute; 
  top: 4vw; 
  width: 100vw;
  height: 2vh;
  padding: 0 4vw; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  z-index: 9999;
}
.text-01 p:nth-child(1) {
  animation-delay: 0.6s;
}
.text-01 p:nth-child(2) {
  animation-delay: 0.95s;
}
.text-01 p:nth-child(3) {
  animation-delay: 0.2s;
}
.text-01 p:nth-child(4) {
  animation-delay: 1.3s;
}

.text-01 p {
  animation: blink_text_1 3.9s step-start infinite; 
}

.text-02 {
  color: white;
  position: relative; 
  width: 100vw;
  padding: 0 4vw; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  z-index: 9999;
  margin-bottom: 1.5vw;
}
.text-02 p:nth-child(1) {
  animation-delay: 0s;
}
.text-02 p:nth-child(2) {
  animation-delay: 0.45s;
}
.text-02 p:nth-child(3) {
  animation-delay: 0.1s;
}
.text-02 p:nth-child(4) {
  animation-delay: 0.3s;
}

.text-02 p {
  animation: blink_text_2 0.5s step-start infinite; 
}



.star_and_strokes_block{
  z-index: 3;
  display: block;
  width: 20vw; 
  position: absolute; 
  top: 12vw;
  right: 0; 
  height: 60vw;
}

.white-star{
  background-color: black;
  border-radius: 50%;
  position: relative;
  left: 1vw;
  width: 20vw;
  height: 20vw;
  animation: rotate_star 1s infinite ease-in-out ;
  animation-delay: 0.1s;
  margin-bottom: 4vw;
}

.pink-strokes{
  margin-top: -5vw; 
  padding-top: 2vw;
  background-color: rgb(0, 0, 0);
  justify-content: end;
  align-items: flex-end;
  display: inline-block;
  display: flex;
  flex-direction: column; 
  gap:3vw; 
} 

.line {
  width: 90%; 
  height: 0.8vw; 
  background-color: #FF70AB;
  animation: wave 1s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.04s); 
  animation-direction: initial;
  transform-origin: center; 
}


.line:nth-child(1) { --i: 0; height: 1vh; }
.line:nth-child(2) { --i: 1; height: 1.1vh; }
.line:nth-child(3) { --i: 2; height: 1.2vh; }
.line:nth-child(4) { --i: 3; height: 1.3vh; }
.line:nth-child(5) { --i: 4; height: 1.4vh; }
.line:nth-child(6) { --i: 5; height: 1.5vh; }
.line:nth-child(7) { --i: 6; height: 1.6vh; }
.line:nth-child(8) { --i: 7; height: 1.7vh; }
.line:nth-child(9) { --i: 8; height: 1.8vh; }
.line:nth-child(10) { --i: 9; height: 1.9vh; }
.line:nth-child(11) { --i: 10; height: 2vh; }
.line:nth-child(12) { --i: 11; height: 2.1vh; }
.line:nth-child(13) { --i: 12; height: 2.2vh; }

.mob_star{
  display: none;
}

.second-block {
  height: 55.5vw;
  overflow: hidden;
}

.armor {
  position: absolute;
  z-index: 2;
  width: 92vw;
  transform: scaleY(0.8);
  transform-origin: top;
  animation: scale-armor 4s infinite cubic-bezier(0.215, 0.610, 0.355, 1), fill-armor 5s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
}


.armor_svg {
  width: 100%;
  height: auto;
  fill:#ffffff;
} 


.black-rectangle {
  background-color: rgb(0, 0, 0);
  opacity: 0%;
  left: -92vw;
  width: 100vw;
  height: 28vh;
  position: absolute;
  top: 17vh;
  z-index: 3; 
  animation: move-rectangle 4s infinite;
}

.amour { 
  margin-top: 8vw;
  scale: 101.5%;
  position: absolute; 
  z-index: 4; 
  width: 92vw; 
  left: -92vw;  
  animation: move-amour 4s infinite ease-in-out; 
}

.amour_svg path {
  animation: fill-armor 4s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
}

.amour_svg {
  width: 100%;
  height: auto;
  fill:#ffffff;
} 


.split {
  margin-top: 24vw;
  width: 92vw; 
  height: 30vw;
  animation: playFrames 4s steps(41) infinite; 
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes playFrames {
    0% {
      background-image: url("../img/1-1.png");
    }
    21% {
      background-image: url("../img/1-8.png");
    }
    22% {
      background-image: url("../img/1-9.png");
    }
    23% {
      background-image: url("../img/1-10.png");
    }
    23.25% {
      background-image: url("../img/1-11.png");
    }
    25.58% {
      background-image: url("../img/1-12.png");
    }
    27.90% {
      background-image: url("../img/1-13.png");
    }
    30.23% {
      background-image: url("../img/1-14.png");
    }
    32.55% {
      background-image: url("../img/1-15.png");
    }
    34.88% {
      background-image: url("../img/1-16.png");
    }
    37.20% {
      background-image: url("../img/1-17.png");
    }
    39.53% {
      background-image: url("../img/1-18.png");
    }
    41.85% {
      background-image: url("../img/1-19.png");
    }
    44.18% {
      background-image: url("../img/1-20.png");
    }
    46.51% {
      background-image: url("../img/1-21.png");
    }
    48.83% {
      background-image: url("../img/1-22.png");
    }
    51.16% {
      background-image: url("../img/1-23.png");
    }
    53.48% {
      background-image: url("../img/1-24.png");
    }
    55.81% {
      background-image: url("../img/1-25.png");
    }
    58.13% {
      background-image: url("../img/1-26.png");
    }
    60.46% {
      background-image: url("../img/1-27.png");
    }
    62.78% {
      background-image: url("../img/1-28.png");
    }
    65.11% {
      background-image: url("../img/1-29.png");
    }
    67.43% {
      background-image: url("../img/1-30.png");
    }
    69.76% {
      background-image: url("../img/1-31.png");
    }
    72.08% {
      background-image: url("../img/1-32.png");
    }
    74.41% {
      background-image: url("../img/1-33.png");
    }
    76.73% {
      background-image: url("../img/1-34.png");
    }
    79.06% {
      background-image: url("../img/1-35.png");
    }
    81.38% {
      background-image: url("../img/1-36.png");
    }
    83.71% {
      background-image: url("../img/1-37.png");
    }
    84.03% {
      background-image: url("../img/1-38.png");
    }
    88.36% {
      background-image: url("../img/1-39.png");
    }
    90.68% {
      background-image: url("../img/1-40.png");
    }
    93.01% {
      background-image: url("../img/1-41.png");
    }
    95.33% {
      background-image: url("../img/1-42.png");
    }
    97.66% {
      background-image: url("../img/1-43.png");
    }
    100% {
      background-image: url("../img/1-1.png");
    }
  }

.text-03 {
  color: white;
  width: 100vw;
  padding: 0 4vw; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  z-index: 9999;
}

.text-03 p:nth-child(1) {
  animation-delay: 0s;
}
.text-03 p:nth-child(2) {
  animation-delay: 0.05s;
}
.text-03 p:nth-child(3) {
  animation-delay: 0.15s;
}
.text-03 p:nth-child(4) {
  animation-delay: 0.3s;
}
.text-03 p:nth-child(5) {
  animation-delay: 0.2s;
}

.text-03 p {
  animation: blink_text 0.3s step-start infinite; 
}


.third-block {
  position: relative;
  height: 300vw;
  /* background-color: rgb(0, 0, 0); */
}
.star {
  top: -7vw;
  z-index: 2;
  left: 7vw;
  position: absolute;
  height: 115vw;
  opacity: 0; 
  transform: scale(0); 
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
/* ???? */
.star-1 {
  opacity: 1; 
  transform: scale(1); 
}

@keyframes grow {
  0% {
      opacity: 0;
      transform: scale(0);
  }
  40% {
      opacity: 1;
      transform: scale(1);
  }
  60% {
      opacity: 1;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(0);
  }
}

.star-2 {
  animation: grow 1s infinite; 
}

.star-3 {
  animation: grow 1s infinite 0.5s; 
}

.knight-back{
  top: 3vw;
  left: 41vw;
  z-index: 3;
  position: absolute;
  width: 52vw;  
  height: auto;
}

.feel{
  position: absolute;
  top: 33vw;
  z-index: 999;
  left: 4vw;
  width: 93vw;
}
.kakovo{
  z-index: 4;
  position: absolute;
  top: 57vw;
  left: 27vw;
  width: 67vw;
}

.eto{
  z-index: 4;
  position: absolute;
  top: 69.5vw;
  left: 6vw;
  width: 91vw;
}

.eto-mob {
  display: none;
}


  .bottom_rings{
    top: 64vw;
    position: absolute;
    width: 100vw;
    height: 400vw;
    overflow: hidden;
    z-index: 1;
  }

  .b_ring_2 {
    position: absolute;   
    height: 40vw;
    left: 33vw;
    top: 158vw;
    animation: rotate-r 10s linear infinite;
  }

  .b_ring_3 {
    position: absolute;   
    height: 60vw;
    left: 33vw;
    top: 158vw;
    animation: rotate-r 10s linear infinite;
  }

  .b_ring_4 {
    position: absolute;   
    height: 51vw;
    left: 38vw;
    top: -35vw;
    animation: rotate-r 10s linear infinite;
  }


  .b_ring_5 {
    position: absolute;   
    height: 81vw;
    left: 23vw;
    top: -54vw;
    animation: rotate-r 10s linear infinite;
  }

  .b_ring_6 {
  position: absolute;   
  height: 111vw;
  left: 8vw;
  top: -72vw;
  animation: rotate-r 10s linear infinite;
  }

 .b_ring_7 {
  position: absolute;   
  height: 141vw;
  left: -7vw;
  top: -87vw;
  animation: rotate-r 10s linear infinite;
  }

.b_ring_8 {
  position: absolute;
  height: 165vw;
  left: -22vw;
  top: -97vw;
  animation: rotate-r 10s linear infinite;
}



.left_splash{
  z-index: 5;
  margin-top: 25vw;
  left: -5vw;
  height: 125vw;
  width: 55vw;
  position: absolute;
  animation: splash 0.25s infinite;
  background-repeat: no-repeat;
  background-size: contain;
}

.right_splash{
  z-index: 5;
  margin-top: 52vw;
  right: -2vw;
  height: 110vw;
  width: 91vw;
  position: absolute;
  animation: splash_r 0.25s infinite;
  background-repeat: no-repeat;
  background-size: contain;
}
.text-04 {
  color: white;
  position:absolute; 
  top: 280vw; 
  width: 100vw;
  padding: 0 4vw; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  z-index: 9999;
}


.white-starr {
  display: none;
}
.white-starr2 {
  display: none;
}
.white-starr3 {
  display: none;
}